.App {
  text-align: center;
  background-color: #FFFAFA;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 15rem 1rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; 
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-main {
  margin-top: 1.5rem;     /* 헤더와 본문 사이에 간격 */
  padding: 0 1rem;         /* 좌우 여백 */
}

.title > h2 {
  float: left;
  margin-right: 10px;
}

.title > img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
